<h3>Eventos Cerrados</h3>
<table *ngIf="hayDatos; else sinElementos" mat-table [dataSource]="eventos" class="mat-elevation-z8">
            
  <ng-container matColumnDef='fecha'>
      <th mat-header-cell *matHeaderCellDef> fecha/hora </th>
      <td mat-cell *matCellDef="let evento"> {{evento.fechaHoraInicio | date:"dd/MM/yy HH:mm"}} </td>
  </ng-container>

  <ng-container matColumnDef='evento'>
      <th mat-header-cell *matHeaderCellDef> evento </th>
      <td mat-cell *matCellDef="let evento"> {{evento.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef='lugar'>
      <th mat-header-cell *matHeaderCellDef> lugar </th>
      <td mat-cell *matCellDef="let evento"> {{evento.locacion.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef='invitados'>
      <th mat-header-cell *matHeaderCellDef> invitados </th>
      <td mat-cell *matCellDef="let evento"> {{evento.cantidadInvitados()}} </td>
  </ng-container>

  <ng-container matColumnDef='confirmados'>
      <th mat-header-cell *matHeaderCellDef> confirmados </th>
      <td mat-cell *matCellDef="let evento"> {{evento.cantidadConfirmados()}} </td>
  </ng-container>

  <ng-container matColumnDef='rechazados'>
      <th mat-header-cell *matHeaderCellDef> rechazados </th>
      <td mat-cell *matCellDef="let evento"> {{evento.cantidadRechazados()}} </td>
  </ng-container>

  <ng-template #sinElementos>
    <p>No estas organizando ningún evento</p>
  </ng-template>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>