<mat-card class="top-5-card">
  <mat-card-title>
    <h5><strong>Mejores cinco experiencias de descargas</strong></h5>
  </mat-card-title>
  <!-- <mat-card-subtitle> Card subtitle</mat-card-subtitle> -->
  <mat-card-content>
  </mat-card-content>
  <!-- <img mat-card-image> Card image. Stretches the image to the container width -->
  <mat-card-actions>
    <button class="mat-button top-5 letra-blanca" mat-button (click)="eliminar()" [mat-dialog-close]=TRUE
      cdkFocusInitial>Top 5</button>
  </mat-card-actions>
  <!-- <mat-card-footer></mat-card-footer> -->
</mat-card>