<mat-card class="card-reporte">
  <mat-card-title>
    <h5><strong>Mejores cinco experiencias de descargas</strong></h5>
  </mat-card-title>
  <!-- <mat-card-subtitle> Card subtitle</mat-card-subtitle> -->
  <mat-card-content>
  </mat-card-content>
  <!-- <img mat-card-image> Card image. Stretches the image to the container width -->
  <mat-card-actions>
    <button (click)="fetchTop5()" class="mat-button boton-reporte letra-blanca" mat-button cdkFocusInitial>Top
      5</button>
  </mat-card-actions>
  <!-- <mat-card-footer></mat-card-footer> -->
</mat-card>
<div class="loading">
  <div style="margin:auto;" *ngIf="cargando" class="spinner-border text-primary d-flex justify-content-center"
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <mat-error *ngIf="server_error">{{server_error}}</mat-error>
</div>
<top-five-list *ngIf="top_five_experiencias && !cargando" [top_five_experiencias]="top_five_experiencias">
</top-five-list>