.card {
    max-width: 15%;
}

.header-image {
    background-image: ('../../assets/img/{{current_user.userName}}.jpg');
    background-size: cover;
}

.aligned{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
}

.gridList {
    height: 100%;
}