<h2>Nuevo evento {{tipoEvento}}</h2>

<div class="container">
  <mat-form-field>
    <input matInput class="form-control" placeholder="Nombre" [(ngModel)]="descripcion" [formControl]='nombreValidator'>
    <mat-error *ngIf="nombreValidator">{{getErrorMsgNombre()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Locacion" [(ngModel)]="locacion" [formControl]='locacionValidator'>
      <mat-option *ngFor="let locacion of this.locaciones" [value]=locacion>{{locacion.descripcion}}</mat-option>
    </mat-select>
    <mat-error *ngIf="locacionValidator">{{getErrorMsgLocacion()}}</mat-error>
  </mat-form-field>
</div>

<mat-divider class='divider'></mat-divider>

<mat-form-field>
  <input matInput type="datetime-local" class="form-control" placeholder="Hora inicio" [(ngModel)]='fechaHoraInicio' [formControl]='fechaInicioValidator'>
  <mat-error *ngIf="fechaInicioValidator">{{getErrorMsgFechaInicio()}}</mat-error>
</mat-form-field>

<router-outlet></router-outlet>