<mat-divider class='divider' [vertical]="true" [inset]="true" ></mat-divider>

<mat-form-field>
  <input matInput type="datetime-local" class="form-control" placeholder="Fecha y hora fin" [(ngModel)]='fechaHoraFin' [formControl]='fechaFinValidator'>
  <mat-error *ngIf="fechaFinValidator">{{getErrorMsgFechaFin()}}</mat-error>
</mat-form-field>

<mat-divider class='divider' [vertical]="true" [inset]="true" ></mat-divider>

<mat-form-field>
  <input matInput type="date" [(ngModel)]='fechaMaximaConfirmacion' placeholder="Seleccione maxima de confimacion" [formControl]='fechaConfirmacionValidator'>
  <mat-error *ngIf="fechaConfirmacionValidator">{{getErrorMsgFechaConfirmacion()}}</mat-error>
</mat-form-field>

<mat-divider></mat-divider>

<button mat-button (click)='submit()' [disabled]="canAccept()">Aceptar</button>
<button mat-button (click)='return()'>Cancelar</button>

<mat-list>
  <mat-list-item *ngFor="let error of errores">
    <mat-icon mat-list-icon color="warn">error</mat-icon>
    <h4 mat-line >Error!</h4>
    <p mat-line > {{error}} </p>
  </mat-list-item>
</mat-list>
