<div class="container">
  <h2 class="titulo">Categorías</h2>
  <div class="crear-container alinear-derecha">
    <button mat-raised-button (click)="crearCategoria()" class="mat-button crear letra-blanca">Crear</button>
  </div>
  <div style="text-align: center;" class="card">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of listado_categorias">
          <td>{{categoria.nombre}}</td>
          <td>{{categoria.descripcion}}</td>
          <td>
            <button mat-icon-button (click)="editarCategoria(categoria)" class="mat-flat-button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="eliminarCategoria(categoria)" class="mat-flat-button">
              <mat-icon class=red-icon>close</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="volver-container alinear-derecha">
    <button routerLink="/../inicio" mat-raised-button class="mat-button verde letra-blanca">Volver</button>
  </div>
</div>