.titulo {
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
}

.crear-container {
    margin-bottom: 1rem;
    margin-right: 8px;
}

.crear {
    background-color: #0d47a1;
}

.botones-container {
    margin-bottom: 0.5rem;
    margin-top: 2.5rem;
}

.verde {
    background-color: #00C851;
}

.rojo {
    background-color: #ff4444;
}

.letra-blanca {
    color: white;
}

.alinear-derecha {
    text-align: right;
}

.margen-abajo {
    margin-bottom: 1rem;
}

.container {
    margin-bottom: 2rem;
}

.full-width {
    width: 100%;
}

:host ::ng-deep .mat-sort-header-container {
    margin-left: 1.4rem;
    justify-content: center;
}
