<h1 mat-dialog-title style="text-align: center;"><strong>{{titulo}} categoría</strong></h1>
<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field class="margen-abajo full-width">
      <input matInput placeholder="Nombre Categoria" [formControl]='nombreValidator' [(ngModel)]="categoria.nombre">
      <mat-error *ngIf="nombreValidator">{{errorMsgNombre}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" style="margin-bottom:0.5rem">
      <input placeholder="Descripción Categoria" [formControl]='descripcionValidator' matInput
        [(ngModel)]="categoria.descripcion">
      <mat-error *ngIf="descripcionValidator">{{errorMsgDescripcion}}</mat-error>
    </mat-form-field>
  </form>
</div>
<div align="center" mat-dialog-actions>
  <button class="mat-button rojo letra-blanca" mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button class="mat-button verde letra-blanca" mat-raised-button (click)="aceptar()"
    [disabled]="noCompletoFormulario()" cdkFocusInitial>Aplicar</button>
</div>



<!-- <mat-divider class='divider'></mat-divider>

<mat-form-field>
  <input class='input' matInput type="number" class="form-control" placeholder="Edad Minima" [(ngModel)]='edadMinima' [formControl]='edadMinimaValidator'>
  <mat-error *ngIf="edadMinimaValidator">{{getErrorMsgEdadMinima()}}</mat-error>
</mat-form-field>

<mat-divider class='divider' [vertical]="true" [inset]="true" ></mat-divider>

<mat-form-field>
  <input class='input' matInput type="number" class="form-control" placeholder="Precio entrada" [(ngModel)]='precioEntrada' [formControl]='precioEntradaValidator'>
  <mat-error *ngIf="precioEntradaValidator">{{getErrorMsgPrecioEntrada()}}</mat-error>
</mat-form-field>

<mat-divider class='divider'></mat-divider>

<button mat-button (click)='submit()' [disabled]="canAccept()">Aceptar</button>
<button mat-button (click)='return()'>Cancelar</button>

<mat-list>
  <mat-list-item *ngFor="let error of errores">
    <mat-icon mat-list-icon color="warn">error</mat-icon>
    <h4 mat-line >Error!</h4>
    <p mat-line > {{error}} </p>
  </mat-list-item>
</mat-list> -->