<h1 mat-dialog-title style="text-align: center;"><strong>{{titulo}} categoría</strong></h1>
<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field class="margen-abajo full-width">
      <input matInput placeholder="Nombre Categoria" [formControl]='nombreValidator' [(ngModel)]="categoria.nombre">
      <mat-error *ngIf="nombreValidator">{{errorMsgNombre}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" style="margin-bottom:0.5rem">
      <input placeholder="Descripción Categoria" [formControl]='descripcionValidator' matInput
        [(ngModel)]="categoria.descripcion">
      <mat-error *ngIf="descripcionValidator">{{errorMsgDescripcion}}</mat-error>
    </mat-form-field>
  </form>
</div>
<div align="center" mat-dialog-actions>
  <button class="mat-button rojo letra-blanca" mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button class="mat-button verde letra-blanca" mat-raised-button (click)="aceptar()" [disabled]="cantSubmit()"
    cdkFocusInitial>{{submitButtonText}}</button>
</div>

<div *ngIf="cargando ||server_error" style="margin-top: 3rem;">
  <div style="margin:auto;" *ngIf="cargando" class="spinner-border text-primary d-flex justify-content-center"
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="card">
    <mat-error>{{server_error}}</mat-error>
  </div>
</div>