.titulo {
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
}

.crear-container {
    margin-bottom: 1rem;
}

.crear {
    background-color: #0d47a1;
}

.volver-container {
    margin-top: 1rem;
}

.volver {
    background-color: #00C851;
}

.eliminar {
    background-color: #ff4444;
}

.letra-blanca {
    color: white;
}

.alinear-derecha {
    text-align: right;
}
