.titulo {
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.boton-reporte {
    background-color: #4285F4;
}

.letra-blanca {
    color: white;
}

.alinear-derecha {
    text-align: right;
}

.alinear-izquierda {
    text-align: left;
}

.card-reporte {
    text-align: center;
    margin-top: 0.5rem;
}

.container {
    max-width: 45rem;
}

.fecha {
    margin-right: 2rem;
}


.volver {
    background-color: #00C851;
}
