<div *ngIf="reportes_descargas && reportes_descargas.length > 0 else sinResultados" class="container">
  <h2 class="titulo">Totalizador de descargas</h2>
  <div style="text-align: center;" class="card">
    <table class="table table-responsive">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Archivo</th>
          <th scope="col">Puntaje</th>
          <th scope="col">Velocidad promedio</th>
          <th scope="col">Total de descargas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reporte of reportes_descargas">
          <td>{{reporte.Titulo}}</td>
          <td>{{reporte.Promedio_puntaje}}</td>
          <td>{{reporte.Velocidad_maxima}}</td>
          <td>{{reporte.Total_descargas}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #sinResultados>
  <h1 class="titulo"><strong>No se encontraron resultados</strong></h1>
</ng-template>